body {
	font-family: Helvetica, sans-serif;
	background-color: rgb(204, 102, 0);
	text-align: center;
}

h1 {
	font-family: Bradley Hand;
}

.intro-blurb {
	font-style: italic;
}

.menu-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly;
	align-items: center;
	align-content: center;
	gap: 10px 20px;
}

.menu-item {

}

:any-link {
	font-family: Copperplate;
	color: rgb(0, 0, 102);
}