body {
	font-family: Helvetica, sans-serif;
	background-color: #fff2e6;
}

h1 {
	font-family: Bradley Hand;
	font-style: italic;
}

.menu-container {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: space-evenly, safe;
	align-items: center;
	align-content: center, safe;
	gap: 10px 20px;
}

.menu-item {

}