body { /* font-family +1 */
	font-family: Optima, sans-serif; 
	font-size: 100%;
	background-color: white;
	text-align: center;
	color: black;
	margin: 0;
}

h1 { /* font-size +1  font-weight +1 */
	font-family: Optima;
	font-size: 6vw; 
	font-weight: 200;
	color: white;
	margin: 0px 0px 0px 0px;
	background-color: rgb(74, 74, 125);
	padding: 25px 20px 25px 20px;
	border: solid;
	border-width: 3px 0px 0px 0px;
	border-color: rgb(188, 171, 133);
}

h2 {
	font-family: Optima;
	font-size: 2em;
	font-weight: 100;
	background-color: rgb(74, 74, 125);
	color: white;
	padding: 20px 20px 20px 20px;
	border: solid;
	border-color: rgb(188, 171, 133);
	border-width: 0px 0px 2px 0px;
	margin: 0px;
}

.intro-blurb { /* class +1  font-style +1 */
	font-style: italic;
}

.content { /* class +1 */  /* text-indent +1 */
	margin: 1vw;
	padding: 10px 40px 40px 40px;
}

.menu-container { /* class +1 */
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	gap: 10px 20px;
	padding: 0px 0px 0px 5px;
}

.gallery {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	justify-content: flex-end;
	align-items: center;
	align-content: center;
	gap: 10px 20px;
	padding: 0px 5px 0px 5px;
}

.menu-line {
	display: flex;
	flex-direction: row;
	flex-wrap: nowrap;
	width: 100%;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
	gap: 10px 20px;
	background-color: rgb(207, 207, 227);
	margin: 0px 0px 5px 0px;
	padding: 10px 0px 10px 0px;
	border: solid;
	border-width: 0px 0px 2px 0px;
	border-color: rgb(188, 171, 133);
}

.home-button {
	display: flex;
	flex-direction: column;
}

.home-button-source {
	font-size: 0.5em;
}

.image-source {
	font-size: 0.5em;
}

.menu-container-wrapper {
	display: flex;
	flex-direction: column;
}

.dropbutton {
	background-color: rgb(207, 207, 227);
	padding: 10px;
	font-family: Copperplate;
	font-size: 1em;
	border: none;
}

.dropdown {
	position: relative;
	display: inline-block;
}

.dropdown-content {
	display: none;
	position: absolute;
	background-color: rgb(207, 207, 227);
	min-width: 160px;
	box-shadow: 0px 3px 18px gray;
	z-index: 1;
}

.dropdown-content a {
	display: block;
	padding: 12px 16px;
}

.dropdown-content a:hover {
	background-color: rgb(74, 74, 125);
	color: white;
}

.dropdown:hover .dropdown-content {
	display: block;
}

.dropdown:hover .dropbutton {
	background-color: rgb(74, 74, 125);
}

img {
	max-width: 100%;
	height: auto;
}

.home-image {
	padding: 10px 5px 5px 5px;
	border-style: inset;
	border-width: 5px;
	margin: 20px;
	background-color: rgb(74, 74, 125);
}

:any-link {
	font-family: Copperplate;
	color: rgb(0, 0, 102);
	text-decoration: none;
}

a:hover {
	color: #b38f00;
}

a:active {
	color: #806600;
}

header, footer, section, article, nav, aside {
	display: block;
}

footer {
	position: fixed;
	left: 0;
	bottom: 0;
	width: 100%;
	background-color: rgb(74, 74, 125);
}

.list1 {
	text-align: left;
	margin: 0px 100px 0px 100px;
	line-height: 150%;
}

dt {
	font-weight: bold;
	padding: 20px 0px 0px 0px;
}

.hand-and-a-half {
	
}